* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 26pt;
  padding: 10px 20px 10px 20px;
  margin-top: 10px; }

h3 {
  font-size: 20pt;
  padding: 10px 20px 10px 20px; }

h5 {
  font-size: 16pt;
  padding: 15px 25px 10px 25px; }

p {
  font-size: 12pt;
  color: #383737;
  padding: 15px 25px 10px 25px; }

main {
  font-family: montserrat; }
  main span {
    text-size-adjust: 14pt;
    color: #383737; }

header {
  background-color: black; }
  header nav div {
    font-family: montserrat; }

.backg {
  width: 100%;
  padding: 0px;
  border: 0px 0px 100px 0px;
  margin-bottom: 100px; }

.bg-black {
  background-color: black; }

.text-animation:hover {
  background-color: #ff4700; }

.w50 {
  width: 161px; }

footer {
  font-family: montserrat;
  background-color: black; }
  footer h2, footer p, footer h3 {
    color: white; }
  footer p {
    font-size: 15px; }
  footer h3 {
    font-size: 20px; }

.p-margin {
  margin: 10px 10px 10px 10px;
  padding: 15px; }

.iconRight {
  gap: 15px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: end; }

.textRight {
  display: grid;
  align-items: center;
  justify-content: end; }

.sectionFooter {
  display: flex;
  align-items: center;
  justify-content: start; }

.paddingText {
  width: 290px; }

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
  margin: 0px 20px 0px 20px; }

.card1 {
  margin: 0px 10px 0px 10px;
  border: solid 1px;
  border-color: #ff4700;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card1:hover {
    transform: scale(1.05);
    transition: transform 1s; }

.h5card1 {
  padding: 20px 20px 15px 20px; }

.pcard1 {
  padding: 0px 20px 20px 20px; }

.imgcard1 {
  width: 100%; }

.imgProductos {
  display: flex; }

.imgProduct {
  width: 100%; }

.carousel {
  padding: 20px; }

.cards4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; }

.cardCenter {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  margin: 20px; }
  .cardCenter h3 {
    text-align: center; }
  .cardCenter:hover {
    transform: scale(1.1);
    transition: transform 0.5s; }

.type {
  gap: 10px;
  width: 100%;
  padding: 20px;
  align-items: flex-start; }

.map {
  padding: 20px;
  width: 100%;
  height: 530px; }

.iconsContact {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: start; }

@media (max-width: 576px) {
  .grid1 {
    grid-template-columns: 1fr;
    column-gap: 0px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px; }
  .card1 {
    margin: 0px 10px 10px 10px; }
  h1 {
    font-size: 18px; }
  h3 {
    font-size: 16px; }
  h5 {
    font-size: 14px; }
  p {
    font-size: 12px; }
  .backg {
    margin-bottom: 25px; }
  .container-media {
    display: flex;
    flex-direction: column; }
  .textRight {
    display: grid;
    justify-content: center;
    align-items: center; }
  .iconRight {
    flex-direction: row;
    justify-content: center;
    gap: 50px; }
  .row {
    display: inline; } }
