footer {
	font-family: montserrat;
	
	h2 {
		color: white;
	}
	p {
		@extend h2;
		font-size: 15px;
	}
	h3 {
		@extend h2;
		font-size: 20px;
	}
	background-color: $backgrond-color;
}
.p-margin {
	margin: 10px 10px 10px 10px;
	padding: 15px;
}
.iconRight {
	gap: 15px;
	flex-wrap: wrap;
	@include flex (flex,center,end)
}
.textRight {
	@include flex (grid,center,end)
}
.sectionFooter {
	@include flex(flex,center,start)
}
.paddingText{
	width: 290px;
}