.grid1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	padding: 20px;
	margin: 20px;
}
.card1 {
	margin: 20px 10px 20px 10px;
	border: solid 1px;
	border-color: $color-principal;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:hover {
		transform: scale(1.05);
		transition: transform 1s;
	}
}
.h5card1 {
	padding: 20px 20px 15px 20px;
}
.pcard1 {
	padding: 0px 20px 20px 20px;
}
.imgcard1 {
	width: 100%;
}