h1 {
	font-size: 26pt;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
}
h3 {
	font-size: 20pt;
	padding: 10px 20px 10px 20px;
}
h5 {
	font-size: 16pt;
	padding: 15px 25px 10px 25px;
}
p {
	font-size: 12pt;
	color: rgb(56, 55, 55);
	padding: 15px 25px 10px 25px;
}
main {
	span {
		text-size-adjust: 14pt;
		color: rgb(56, 55, 55);
	}
	font-family: montserrat;
}